%h1
  = applicant_link(@applicant)
  >
  New application

= form_for @application, url: {action: "create"} do |f|
  %p
    = f.label :category
    = f.select :category, Application::VALID_CATEGORIES

  %p
    Notes
    = text_area_tag :notes

  %p
    = f.submit
