%h1
  = applicant_link(@applicant)
  >
  = @application.category
  %small= application_status_link(@application.latest_status)

%p
  Assigned to
  - if @application.team_member
    = team_member_link(@application.team_member)
  - else
    %i nobody

%p
  = link_to "Modify assignment", @applicant

%h2 Latest statuses

%ul.applicant_statuses
- @application.application_statuses.ordered.each do |status|
  %li
    = application_status_link(status)
    at
    = status.created_at

    %span.notes
      - status.application_status_notes.each do |note|
        %i #{note.content}
        - if note.team_member.present?
          %span - #{team_member_link(note.team_member)}
        - else
          %span - from nobody
