%h1
  = applicant_link(@applicant)
  >
  = @application.category
  %small= application_status_link(@application.latest_status)

%p
  Assigned to
  - if @application.team_member
    = team_member_link(@application.team_member)
  - else
    %i nobody

  = link_to "Modify assignment", @applicant
