%h1
  = @applicant.nickname
  %small= link_to "(edit nickname)", edit_applicant_path(@applicant)

%ul.applications
  - @applicant.applications.each do |application|
    %li
      = application_link(application)

  %li= link_to "New application", new_applicant_application_path(@applicant)

%p
  Assigned to
  - if @applicant.team_member
    = team_member_link(@applicant.team_member)
  - else
    %i nobody

  = form_for @applicant, url: {action: "assign"}, method: :patch do |f|
    Assign to
    = f.label :team_member
    = f.select :team_member_id, TeamMember.all.map { |u| [u.to_s, u.id] }

    = f.submit

%h2 Form details

%pre= @applicant.form_details

%h2 Latest notes

%ul.notes
  - @applicant.latest_notes.each do |note|
    %li
      %i #{note.content}
      - if note.team_member.present?
        %span - #{team_member_link(note.team_member)}
      - else
        %span - from nobody

