%h1 Hi #{@team_member.name}!

%p
  You are helping

  - if @team_member.applicants.active.any?
    = pluralize(@team_member.applicants.active.count, "person")
  - else
    nobody

  - if @team_member.applicants.completed.any?
    and have helped
    = pluralize(@team_member.applicants.completed.count, "person")

%h2 Warnings

%ul.warnings

- @warnings.each do |warning|
  %li.warning
    = warning.description
    = warning.applicant
    = warning.application
    = warning.cheque
