%h1
  Team members >
  = team_member_link(@team_member)

%table
  %tr
    %th Name
    %td= @team_member.name

  %tr
    %th Email
    %td= @team_member.email

  %tr
    %th Phone
    %td= @team_member.phone

  %tr
    %th User
    %td= user_link(@team_member.user)

  %tr
    %th Created at
    %td= @team_member.created_at

  %tr
    %th Promoted by
    %td
      - if @team_member.promoted_by
        = user_link(@team_member.promoted_by)
      - else
        %i nobody!

%p
  = link_to "Edit profile", edit_team_member_path(@team_member)
