!!!
%html
  %head
    %title Simple Backend Example
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tag

  %body
    %header#navigation
      %ul.navigation
        - if current_user
          %li
            = link_to "Sign out", signout_path
          - if current_user.team_member?
            %li
              = link_to "Your dashboard", dashboard_team_member_path(current_user.team_members.first)
              - if current_team_member
                as
                = team_member_link(current_team_member)
            %li
              = link_to "Team members", team_members_path
            %li
              = link_to "Users", users_path
            %li
              = link_to "Applicants", applicants_path

        - else
          %li
            = link_to "Sign in with Google", "/auth/google_login"

    - flash.each do |name, message|
      %div{class: name}
        = message

    #content
      = yield

    %footer

